/* Resetowanie stylów */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Stylizacja nagłówka */
.header {
  background-color: #1e1e1e;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.page-title {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Stylizacja nawigacji */
.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.navigation ul li a:hover {
  color: #ff7b00; /* Kolor podświetlenia przy najechaniu myszką */
}

/* Stylizacja sekcji powitalnej */
.welcome-section {
  background-image: linear-gradient(to bottom right, #ff7b00, #ff3300);
  color: #fff;
  text-align: center;
  padding: 50px 20px;
}

.welcome-section p {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Stylizacja sekcji dodawania ogłoszenia */
.add-ad-section {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.ad-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ad-input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ad-textarea {
  height: 100px;
}

.ad-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.ad-button:hover {
  background-color: #0056b3;
}

/* Stylizacja sekcji z ogłoszeniami */
.ads-section {
  padding: 50px 20px;
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}

.ad-list {
  display: grid;
  grid-template-rows: repeat(5, auto); /* 5 wierszy o rozmiarze auto */
  grid-template-columns: repeat(
    5,
    minmax(200px, 1fr)
  ); /* dynamiczna liczba kolumn o minimalnej szerokości 200px */
  gap: 20px;
}

/* Stylizacja pojedynczego ogłoszenia */
.ad {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.ad h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.ad p {
  margin-bottom: 10px;
  font-size: 16px;
}

.ad button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.ad button:hover {
  background-color: #0056b3;
}

.ad img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

/* Style dla stopki */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px;
}

.filters input {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.selects {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select {
  width: 45%; /* Dostosuj do swoich potrzeb */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.select:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.year-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.year-filters label {
  margin-right: 10px;
}

.year-filters input[type="range"] {
  flex-grow: 1;
  margin: 0 10px;
}

.year-filters span {
  width: 50px;
  text-align: center;
  font-weight: bold;
  color: #4caf50;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}

.show-controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

#toggle-controls {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  border: none;
  border-radius: 50px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggle-controls:hover {
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-3px);
}

#toggle-controls:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.delete-button {
  margin-top: 15px;
  margin-left: 51%;
}

.cancel-button {
  margin-left: 43%;
}
